body{
    background:url(../images/bg-body.jpg) repeat;
}
#wrapper{
    width:940px;    
    background:url(../images/bg.jpg) repeat;
    margin:0px auto;
    padding:0 60px;
}
/*==========================TOP==========================*/
#wrapper>#header>.top{        
    height:130px;
}
    #wrapper>#header>.top>.logo{    
        margin-left:17px;    
        float:left;        
        height:130px;
        line-height:130px;        
        text-align:center;
    }
        #wrapper>#header>.top>.logo>img{
            vertical-align:middle;            
        }
    #wrapper>#header>.top>.currency{
        margin:83px 0px 27px 0px;
        float:right;
    }
        #wrapper>#header>.top>.currency>span{
            font-weight:bold;            
        }
        #wrapper>#header>.top>.currency>select{
            height:24px;
            border-radius:2px;
            padding: 0 4px;
        }
/*==========================MENU==========================*/
#wrapper>#header>.menu{    
    background:url(../images/menu-left.jpg) left top no-repeat;    
}
#wrapper>#header>.menu>.right{    
    background:url(../images/menu-right.jpg) right top no-repeat;    
}
#wrapper>#header>.menu>.right>.content{
    height:45px;
    background:url(../images/menu-bg.jpg) left top repeat-x;
    margin:0 8px;    
}
#wrapper>#header>.menu>.right>.content>ul{
    position:relative;
}
#wrapper>#header>.menu>.right>.content>ul>li{
    float:left;
}
#wrapper>#header>.menu>.right>.content>ul>li>a{
    color:#000043;
    display:block;
    padding:0px 22px;    
    font:bold 14px/45px Arial;
    text-transform: uppercase;
}
#wrapper>#header>.menu>.right>.content>ul>li>a:hover{
    color:#2e7500;
    text-decoration: underline;
}

#wrapper>#header>.menu>.right>.content>ul>li.cart
{
    position:absolute;
    top:0px;
    right:25px;
}
#wrapper>#header>.menu>.right>.content>ul>li.cart>a{
    display: inline;
    padding:0;
    font:12px/45px arial;
    color:#2e7500;
}
#wrapper>#header>.menu>.right>.content>ul>li.cart>a:hover{
    color:black;
    font-weight:bold;
}
/*-------------------CONTENT---------------------*/
#wrapper .main{    
    margin-top:18px;      
}
    #wrapper>.main>.left{
        width:220px;
        float:left;
    }
    #wrapper>.main>.right{
        width:700px;
        margin-left:240px;        
    }
/*-------------------SPECIAL PRODUCTS---------------------*/
.special-product{    
    height:123px;
    border-bottom:1px solid #d2d2d2;
}
.special-product>.img{
    height:64px;
    line-height:123px;
    float:left;    
}
.special-product>.img>img{
    vertical-align: middle;
}
.special-product>.info{
    margin-left:68px;
    padding:27px 0;
}
.special-product>.info>p{
    margin-bottom:27px;
}
.special-product>.info>span{
    font-weight:bold;
}
/*-------------------COL1 & COL2---------------------*/
.main>.right>.col1{
    float:left;
    width:460px;        
}
.main>.right>.col1>.product-pig{
    float:left;
    width:229px; 
    height:382px;   
}
.main>.right>.col1>.product-pig>.image{
    height:227px;    
    text-align: center;
}
.main>.right>.col1>.product-pig>.image>img{
    vertical-align: middle;
}
.main>.right>.col1>.product-pig>.info{
    padding:25px 20px;
    height:150px;
}
.main>.right>.col1>.product-pig>.info> p{
    margin-bottom:35px;
}
.main>.right>.col1>.product-pig>.info> span{
    margin-bottom:20px;    
    display:block;
    color:#7ba720;
    font-size:16px;
    font-weight:bold;
}
.main>.right>.col1>.product-pig>.info>a{
    font-weight:bold;
    color:#3e3e79;
}
.main>.right>.col1>.product-pig>.info>a:hover{
    text-decoration: underline;
}
.main>.right>.col1>.product-pig>.image>img{
    width:228px;
    height:auto;
}
.main>.right>.col1>.product-pig-left{
    border:1px solid #d2d2d2;
    border-width:0px 1px 1px 0px;  
}
.main>.right>.col1>.product-pig-left:nth-last-child(2){
    border-bottom:none; 
}
.main>.right>.col1>.product-pig-right{
    border-bottom:1px solid #d2d2d2;    
}
.main>.right>.col1 .product-pig-right:last-child{
    border-bottom:none;
}
.main>.right>.col2{
    width:220px;
    margin-left:480px;    
}
.box-category{
    margin-bottom:5px;
}
.box-category>.content{
    
}
.box-category>.content>ul{
    margin-top:-8px;
}
.box-category>.content>ul>li{
    border-bottom:1px solid #d2d2d2;
    padding:5px;
}
.box-category>.content>ul>li:last-child{
    border-bottom:none;
}
.box-category>.content>ul>li.active{
    background:url(../images/down-arrow.jpg) right center no-repeat;
}
.box-category>.content>ul>li>a{
    color:#2a0055;
}
.box-category>.content>ul>li>a:hover{
    color:#00c;
}
.footer{
    position:relative;
}
.footer>.slide{
    border-radius:5px;
    background:white;
    border:1px solid #e1e1e1;
    margin-top:15px;
    padding:10px 20px;
    text-align: center;
}
.footer>.slide>ul>li{    
    width:130px;
    display:inline-block;   
    border-right:1px solid #d2d2d2; 
}
.footer>.slide>ul>li:last-child{
    border:none;
}
.footer>.arrow-left{
    position:absolute;
    top:17px;
    left:-20px;
}
.footer>.arrow-right{
    position:absolute;
    top:17px;
    right:-19px;
}
.footer>.copyright{
    padding-bottom:15px;
}
.footer>.copyright>.left{
    float:left;  
}
.footer>.copyright>.right{    
    float:right;
}
/*-------------------BreadCrumb---------------------*/
.breadcrumd{
    background:white;
    border-radius:5px;
    border:1px solid #d2d2d2;
    padding:10px;
}
.breadcrumd>a{
    color:#447f60;
}
.breadcrumd>a:hover{
    text-decoration:underline;
}
.breadcrumd>.active{
    color:#2a0055;
    text-decoration:underline;
}
/*-------------------Category Product---------------------*/
.cateProduct{
    background:white;
    border-radius:5px;
    border:1px solid #d2d2d2;
    padding:10px 0px 10px 13px;    
    margin-top:10px;
}
.cateProduct>.box-cate{
    width:158px;
    height:160px;
    border:1px solid #d2d2d2;    
    margin:0px 8px 10px 0px;
    border-radius:5px;
    display:inline-block;
    padding-top:15px;
    text-align:center;
}
.cateProduct>.box-cate>.image>img{
    display:block;
    margin:0 auto;    
}
.cateProduct>.box-cate>a{
    float:left;color:black;    
    margin-left:30px;
}
.cateProduct>.box-cate>a:hover{
    text-decoration:underline;
}
/*-------------------LINE---------------------*/
.line-h-45{
    width:1px;
    height:44px;
    background-color:#d2d2d2;
}
.line-w-100{
    width:100%;
    height:1px;
    background:#d2d2d2;
    margin:30px 0;
}
/*-------------------MARGIN---------------------*/
.margin-box{
    margin-top:10px;
}